<p class="lead">
  <%= "##{@topic.title}" %>
  <br/>
    <%= link_to "Edit", edit_topic_path, class: 'btn btn-success' %>
    <%= link_to "Delete", topic_path(@topic), method: :delete, class: 'btn btn-danger' %>
</p>

<%= render @topic.bookmarks %>

<br/>

<%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>



